@using wall.Models;
<div id="commentsDisplay">
    <form action="addComment" method="post">
        <input type="hidden" name="userid" value="@ViewBag.user.id">
        <input type="text" name="comment" value="">
        <button type="submit">Add Comment</button>
    </form>
</div>